-e /app/addons-dev/django-addons
-e /app/addons-dev/django-addons-formlib
-e /app/addons-dev/django-addon
-e /app/addons-dev/django-celery-addon
#django-addons==2.0.1
#django-addon==2.0.3.2
#django-celery-addon==4.1.0.2

ipython
ipdb
dateparser
recurrent
django-taggit
django-extended-choices
moviepy
ExifRead

djangorestframework
markdown
django-filter
django-crispy-forms

graphene
django-graphiql
graphene-django

django-denorm
django-fsm
channels
channels_redis
Redis
cryptography
eliot
eliot-tree

boto3

furl
yurl
django-click

black
isort
